
<button (click)="clearForm()">Clear Form</button>
<app-multi-text label="employer" max="10" [elements]="employers"></app-multi-text>
<app-multi-text label="ocupation" max="10" [elements]="occupations"></app-multi-text>

<div *ngFor="let checkbox of committeeTypeMap | keyvalue: originalOrder">
  <input type="checkbox" id="{{checkbox.key}}" [ngModel]="committeeTypeMap.get(checkbox.key)"  (ngModelChange)="committeeTypeMap.set(checkbox.key, $event)">
  <label for={{checkbox.key}}>{{checkbox.key}}</label>
</div>
<app-us-states [state]="state" (selection)="setState($event)"></app-us-states>

<button (click)="submit()">Submit</button>
<p *ngIf="loading">loading...</p>
<p *ngIf="!loading && data && data.length <= 0">No results</p>
<div class="alert alert-danger" role="alert" *ngIf="!loading && pagination && pagination.count > 2000">Limit Exceeded! Search returned {{pagination.count}} contributions. Processed only first 2000 results.</div>
<div class="alert alert-info" role="alert" *ngIf="!loading && pagination && pagination.count <= 2000">Processed {{pagination.count}} contributions.</div>
<app-bar-chart *ngIf="!loading && chartData" label="Total Contributions in Dollars" [chartData]="chartData"></app-bar-chart>
<div class="party" [style.background-color]="getColor(partyMapEntity.key)" *ngFor="let partyMapEntity of partyMap | keyvalue">
  <h3>{{partyMapEntity.key}}</h3><br/>
  <div *ngFor="let committeeMapEntity of partyMap.get(partyMapEntity.key) | keyvalue">
    <p>Committee: {{committeeMapEntity.key}}&nbsp;&nbsp;
      <a title="FEC Committee Page" href="https://www.fec.gov/data/committee/{{getCommitteeId(committeeMapEntity.key)}}/"><img class="icon" src="../assets/icons/fec.png"></a>&nbsp;&nbsp;
      <a title="Open Secrets Committee Page" href="https://www.opensecrets.org/pacs/lookup2.php?strID={{getCommitteeId(committeeMapEntity.key)}}"><img class="icon" src="../assets/icons/opensecrets.ico"></a>&nbsp;&nbsp;
    </p>
    <app-contribution-table [contributions]="getContributions(partyMapEntity.key, committeeMapEntity.key)"></app-contribution-table>
  </div>
</div>
